<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber - Java [Suite]" verbose="1" parallel="tests" thread-count="3">
    <test name="Cucumber Demo Test - Win11" annotations="JDK" preserve-order="true">
        <parameter name="browser" value="Firefox" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="Windows 11" />
        <classes>
            <class name="MyRunner.TestRunner" />
        </classes>
    </test> <!-- Test -->
    <test name="Cucumber Demo Test - Win10" annotations="JDK" preserve-order="true">
        <parameter name="browser" value="Chrome" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="Windows 10" />
        <classes>
            <class name="MyRunner.TestRunner" />
        </classes>
    </test> <!-- Test -->
    <test name="Cucumber Demo Test - MacOS" annotations="JDK" preserve-order="true">
        <parameter name="browser" value="Safari" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="MacOS Monterey" />
        <classes>
            <class name="MyRunner.TestRunner" />
        </classes>
    </test> <!-- Test -->

</suite>